# 🔐 LLMs
GEMINI_API_KEY=your_api_key_here

# 📅 Google Calendar
GOOGLE_API_KEY= your_api_key_here
GOOGLE_CREDENTIALS_PATH=credentials.json

# 💬 Slack Notifications
SLACK_BOT_TOKEN= xoxb-your_api_key_here

# 🧠 Config
LLM_PROVIDER=gemini or #openai

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT=HiringCopilot
LANGCHAIN_API_KEY=your_api_key_here